---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <div class="card-list">
    {%- for post in site.posts -%}
    <div class="card">
      <div class="card-img">
        {%- if post.image -%}
        <img src="{{- post.image | relative_url -}}" alt="">
        {%- else -%}
        {%- assign postImage = "/assets/images/image-default.jpg" -%}
        <img src="{{- postImage | relative_url -}}" alt="">
        {%- endif -%}
      </div>
      <div class="card-text">
        <div class="card-header">
          <div class="card-title">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
          </div>
          {%- if post.subtitle -%}
          <div class="card-subtitle">{{ post.subtitle | escape }}</div>
          {%- endif -%}
        </div>
        <div class="card-excerpt">
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </div>
        <div class="card-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="card-list">
    <div class="card">
      <div class="card-img">
        <img src="https://via.placeholder.com/640x480" />
      </div>
      <div class="card-text">
        <div class="card-header">
          <div class="card-title">Title</div>
          <div class="card-subtitle">Subtitle</div>
        </div>
        <div class="card-excerpt">Excerpt </div>
        <div class="card-meta">meta</div>
      </div>
    </div>
  </div>

  <div class="card-list">
    <div class="card">
      <div class="card-img">
        <img src="https://via.placeholder.com/640x160" />
      </div>
      <div class="card-text">
        <div class="card-header">
          <div class="card-title">Title</div>
          <div class="card-subtitle">Subtitle</div>
        </div>
        <div class="card-excerpt">Excerpt </div>
        <div class="card-meta">meta</div>
      </div>
    </div>
  </div>

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      {%- if post.image -%}
      <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
      {%- else -%}
      {%- assign postImage = "/assets/images/image-default.jpg" -%}
      <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>