<% for (key in htmlWebpackPlugin.files.css) { %><link href=<%= JSON.stringify(htmlWebpackPlugin.files.css[key]).replace(htmlWebpackPlugin.options.assetsDir, htmlWebpackPlugin.options.assetsPublicPath)  %> rel="stylesheet" />
<% } %><% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
<style>.unsupported-browser { display: none; }</style>
<div class="unsupported-browser">
  Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this
  site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.
</div><% } 
%><% if (htmlWebpackPlugin.options.appMountId) { %>
<div id="<%= htmlWebpackPlugin.options.appMountId %>">
  loading
</div>
<% } %>
<%for (key in htmlWebpackPlugin.files.chunks) { %><script src="/assets/js/<%= key %>.js" type="text/javascript"></script>
<% } %>